/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 112 / 126 / 142 / 158 / 176 / 194 / 214 / 234
*/

/* Use em for defining max-width in media queries. To calculate em, divide the value in px by 16 (e.g., 1200px / 16 = 75em). */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --indigo: #5c7cfa;
  --light-gray: #b2b2b2;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
}

body {
  font-size: 1.6rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER & FOOTER */

header,
footer {
  display: flex;
  background-color: var(--indigo);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  margin-bottom: 5rem;
  gap: 3.2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  display: flex;
  opacity: 0;
  font-size: 2.4rem;
  color: var(--light-gray);
  margin-left: -4.5rem;
  transition: all 0.2s;
}

form {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

form input {
  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  padding: 0.8em 2em 0.8em 4em;
}

form input:focus {
  outline: none;
}

.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: var(--light-gray);
  margin-right: -6rem;
  cursor: pointer;
}

.glass ion-icon {
  border-right: #bababa88 solid 1px;
  padding-right: 1rem;
}

.favorite-icon {
  font-size: 4rem;
  color: white;
  transition: all 0.2s;
}

.favorite-icon-container {
  position: relative;
}

.favorite-icon-container button {
  display: flex;
}

.favorite-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ffd43b;
  padding: 0.1em 0.5em;
  border-radius: 50%;
}

.search-history-list {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 7rem;
  right: -3rem;
  gap: 1.6rem;
  padding: 1em;
  max-height: 25rem;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: var(--indigo);
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.31);
}

.search-history-list button {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: white;
  color: var(--indigo);
  padding: 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
}

.search-history-list li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.search-history-list li strong {
  border-right: 1px solid white;
  padding-right: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.search-history-list li strong:hover {
  text-decoration: underline;
}

.search-history-list li span {
  font-size: 1.2rem;
  font-style: italic;
}

footer {
  margin-bottom: 0;
}

/* MAIN */

main {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
  flex: 1;
}

.loading,
.unknown-keyword {
  color: #333;
  text-align: center;
  font-weight: 600;
}

.star {
  background: transparent;
  border: none;
  cursor: pointer;
}

.eras {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

.eras button {
  font-size: 1.8rem;
  color: white;
  background-color: rgba(92, 124, 250, 0.6);
  padding: 0.5em 3em;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.eras button:hover,
.eras button.active {
  background-color: var(--indigo);
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 8rem 0;
}

.event {
  display: grid;
  height: fit-content;
  row-gap: 3rem;
  background-color: var(--indigo);
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 2rem;
  transition: all 0.2s;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
}

.event h5 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.687);
}

.date {
  font-size: 3rem;
}

/* DYNAMIC */

.pointer {
  cursor: pointer;
}

.favorite {
  fill: #ffd43b;
}

.full-opacity {
  opacity: 1;
  cursor: pointer;
}

/* Responsive Design */

@media (max-width: 600px) {
  header {
    padding: 2rem;
  }
  main {
    padding: 0 3rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1060px) {
  header,
  footer {
    flex-direction: column;
  }

  .eras {
    flex-direction: column;
    gap: 3.2rem;
  }

  .search-history-list {
    top: 7rem;
    left: 9rem;
    right: 8rem;
  }
}

@media (max-width: 37.5em) {
  .events-list {
    gap: 3.2rem;
  }

  .date {
    font-size: 2.4rem;
  }

  .unknown-keyword {
    font-size: 1.2rem;
    margin: 2rem 0;
  }
}
